<!-- INDEX SECTION -->
<section id="index">
    <div class="index-container">
        <div class="index-wrapper">

            <div class="index-row">

                <!-- SMALL BOX CONTAINER -->
                <div class="index-column">
                    <h4>Khám phá</h4>
                    <ul class="column-item">
                        <li><a href="#">Sân bay</a></li>
                        <li><a href="#">Chuyến bay</a></li>
                        <li><a href="#">Khách sạn</a></li>
                        <li><a href="#">Thuê xe</a></li>
                        <li><a href="#"> Hướng du lịch </a></li>
                    </ul>
                </div>

                <!-- SMALL BOX CONTAINER -->
                <div class="index-column">
                    <h4>Đối tác</h4>
                    <ul class="column-item">
                        <li><a href="#">Quảng cáo với chúng tôi </a></li>
                        <li><a href="#">Chi nhánh</a></li>
                        <li><a href="#">Thông tin chi tiết về du lịch</a></li>
                    </ul>
                </div>

                <!-- SMALL BOX CONTAINER -->
                <div class="index-column">
                    <h4>Về chúng tôi</h4>
                    <ul class="column-item">
                        <li><a href="#">Thông tin công ty</a></li>
                        <li><a href="#">Dội của chúng tôi</a></li>
                        <li><a href="#">Địa chỉ đã đăng ký</a></li>
                        <li><a href="#">Nghề nghiệp</a></li>
                    </ul>
                </div>

                <!-- SMALL BOX CONTAINER  -->
                <div class="index-column">
                    <h4>Trọ giúp</h4>
                    <ul class="column-item">
                        <li><a href="#">Chính sách cookie</a></li>
                        <li><a href="#">Phí và lệ phí</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>