<!-- HEADER  -->
<header>
    <!-- HEADER TOP - LOGO + register and log in  -->
    <div class="header-top">
        <div class="top-wrapper">
            <div class="logo">
                <a href="index.html"><img src="./img/Logo.png" alt="logo"></a>
            </div>
            <div class="header-search">
                <form class="header-form" action="">
                    <input class="header-input" type="text" placeholder="Tìm kiếm địa điểm">

                    <button class="header-btn">Tìm kiếm</button>
                </form>
            </div>

        </div>
    </div>
    <!--  HEADER BOTTOM - NAVEGATION   -->
    <nav class="navigation">
        <div id="menu">
            <a href="#home">Trang chủ</a>
            <a href="#features">Giới thiệu</a>
            <div class="dropdown">
                <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tour du lịch
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Đại Nội Huế</a></li>
                    <li><a class="dropdown-item" href="#">Lăng Minh Mạng</a></li>
                    <li><a class="dropdown-item" href="#">Chùa Thiên Mụ</a></li>
                    <li><a class="dropdown-item" href="#">Sông Hương</a></li>
                </ul>
            </div>

            <a href="#top-destines">Địa Điểm Hàng Đầu</a>
            <div class="dropdown">
                <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dịch Vụ
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dịch vụ trọn gói</a></li>
                    <li><a class="dropdown-item" href="#">Thuê xe ô to du lịch</a></li>
                    <li><a class="dropdown-item" href="#">Thuê xe máy</a></li>
                </ul>
            </div>

            <a href="#top-destines">TIn tức</a>
            <a href="#top-destines">Liên Hệ</a>

        </div>
    </nav>





</header>